 {% extends "base.html" %} {% block content %}
<form action="/atendimento/medico/form" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Formulário Médico
                </header>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="{{form.nome.id_for_label}}">{{form.nome.label}}</label>
                            {{form.nome}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.dt_nasc.id_for_label}}">{{form.sexo.label}}</label>
                            {{form.sexo}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.especialidade.id_for_label}}">{{form.data_nascimento.label}}</label>
                            {{form.data_nascimento}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.sexo.id_for_label}}">{{form.cpf.label}}</label>
                            {{form.cpf}}
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </section>
        </div>
    </div>


</form>

{% endblock %}