{% extends "base.html" %} 
{% load static %}
{% block content %} 
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Oi, tudo bem?</h1>
                <p class="lead">Seja bem-vindo ao sistema de gestão de atendimentos clínicos.</p>
                <hr class="my-4">
                <p>Conheça abaixo as opções do sistemas.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/clientes.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/atendimento/cliente" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/médicos.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Médicos</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/atendimento/medico" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/agendamentos.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Agendamentos</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/consultas.jpeg' %}" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title ">Consultas</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the <p>bulk of the card's content.</p>
                    <a href="# " class="btn btn-primary ">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}