 {% extends "base.html" %} {% block content %}
<form action="/atendimento/cliente/form/" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Formulário Cliente
                </header>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="{{for.nome.id_for_label}}">
                                {{form.nome.label}}
                            </label>
                            <div>
                                {{form.nome}} {% for error in form.nome.errors %}
                                <label for="{{for.nome.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{for.sexo.id_for_label}}">
                                {{form.sexo.label}}
                            </label>
                            <div>
                                {{form.sexo}} {% for error in form.sexo.errors %}
                                <label for="{{for.sexo.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{for.data_nascimento.id_for_label}}">
                                {{form.data_nascimento.label}}
                            </label>
                            <div>
                                {{form.data_nascimento}} {% for error in form.data_nascimento.errors %}
                                <label for="{{for.data_nascimento.id_for_label}}" class="error">{{error}}</label>
                                {% endfor %}
                            </div>
                        </div>s
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </section>
        </div>
    </div>


</form>

{% endblock %}