{% extends "base.html" %} {% block content %}
<form action="/atendimento/cliente/save" method="GET">
    <div class="form-group">
        <label for="nome">Nome: </label>
        <input class="form-control" name="nome" type="text">
    </div>

    <div class="form-group">
        <label for="dt_nasc">Data de Nascimento: </label>
        <input class="form-control" name="dt_nasc" type="date">
    </div>

    <div class="form-group">
        <label for="sexo">Sexo: </label>
        <input name="sexo" type="radio" value="M">M
        <input name="sexo" type="radio" value="F">F
    </div>

    <div class="form-group">
        <label for="estado">Estado: </label>
        <select name="estado" id="estado">
            <option value="">Selecione</option>
            <option value="PI">Piauí</option>
            <option value="MA">Maranhão</option>
            <option value="PE">Pernambuco</option>
            <option value="CE">Ceará</option>
        </select>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input">
        <label for="estadocivil">Casado?</label>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary">Salvar</button>
        <button type="reset" class="btn btn-secondary">Limpar</button>
    </div>
</form>
{% endblock %}