{% extends "base.html" %} 

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i> Clientes</h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/atendimento">Home</a>
            </li>
            <li>
                <i class="fa fa-laptop"></i>Clientes
            </li>
        </ol>
    </div>
</div>
    <h1>Detalhes do cliente!</h1>
    <div>
        <label>Nome:</label>
        {{cliente.nome}}
    </div>
    <div>
        <label>Sexo:</label>
        {{cliente.sexo}}
    </div>
    <div>
        <label>Data Nascimento:</label>
        {{cliente.data_nascimento | date:"d/m/Y"}}
    </div>
    
{% endblock %}